{% extends 'base.html' %}
{% block title %}Edit Club{% endblock %}
{% block content %}
<h2>Edit Club</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.description.label }}
        {{ form.description(class="form-control") }}
        {% for error in form.description.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.contact_email.label }}
        {{ form.contact_email(class="form-control") }}
        {% for error in form.contact_email.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    {{ form.submit(class="btn btn-success", value="Create Club" if not is_edit else "Edit Club") }}
</form>
{% endblock %}