Flask
Flask-Login
Flask-Mail
Flask-WTF
Flask-SocketIO
Flask-Migrate
Flask-Testing
Flask-SQLAlchemy
SQLAlchemy
Alembic
WTForms
matplotlib
plotly
pandas
requests
eventlet
email-validator
python-socketio
Werkzeug
jinja2
xhtml2pdf