{% extends 'base.html' %}
{% block title %}Notification Preferences{% endblock %}
{% block content %}
<h2>Notification Preferences</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.receive_event_notifications.label }}
        {{ form.receive_event_notifications() }}
    </div>
    <div class="form-group">
        {{ form.receive_membership_notifications.label }}
        {{ form.receive_membership_notifications() }}
    </div>
    <div class="form-group">
        {{ form.receive_feedback_notifications.label }}
        {{ form.receive_feedback_notifications() }}
    </div>
    {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}