<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DETYS - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    {% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>

<body data-is-authenticated="{{ 'true' if current_user.is_authenticated else 'false' }}"
    data-user-id="{{ current_user.id if current_user.is_authenticated else '' }}">

    {% block navbar %}
    {% include 'main/navbar.html' %}
    {% endblock %}

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; {{ current_year }} DETYS. No rights Reserved.</p>
    </footer>

</body>

</html>